{% extends 'images/base.html' %}

{% block content %}
    <h1>Objavi svoju sliku</h1>

    <form action="{% url 'images:create' %}" method="POST">
        {% csrf_token %}

        <label>Title</label>
        <input type="text" name="title" id=""> <br>

        <label>Description</label>
        <input type="text" name="desc" id=""> <br>

        <label>Pub date</label>
        <input type="date" name="pub_date" id=""> <br>

        <label>Url</label>
        <input type="text" name="url" id=""> <br>

        <input type="submit" value="objavi sliku">

    </form>
{% endblock content %}
